SerialCtrl_Arduino.vcxproj
.vs/ProjectSettings.json
SerialCtrl_Arduino.vcxproj.user
SerialCtrl_Arduino.vcxproj.filters
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/__vm/.vsarduino.h
.vs/SerialCtrl_Arduino/v16/.suo
.vs/SerialCtrl_Arduino/v16/Browse.VC.db
.vs/SerialCtrl_Arduino/v16/ipch/AutoPCH/39a49a6843f413e3/.SERIALCTRL_ARDUINO.VSARDUINO.ipch
.vs/SerialCtrl_Arduino/v16/ipch/AutoPCH/3b3e20501dcee2eb/.BLINK_VSTUDIO.VSARDUINO.ipch
.vs/SerialCtrl_Arduino/v16/ipch/AutoPCH/689fb69fd61e4843/BLINK_VSTUDIO.ipch
.vs/SerialCtrl_Arduino/v16/ipch/AutoPCH/9efe5b0bd8a8c7c3/SERIAL_CONTROLLER.ipch
.vs/SerialCtrl_Arduino/v16/ipch/AutoPCH/e3ba73b0fd25800b/.SERIAL_CONTROLLER.VSARDUINO.ipch
.vscode/arduino.json
.vscode/c_cpp_properties.json
__vm/.SerialCtrl_Arduino.vsarduino.h
__vm/Compile.vmps.xml
__vm/Configuration.Debug.vmps.xml
Debug/board.buildinfo
Debug/SerialCtrl_Arduino.bin
Debug/SerialCtrl_Arduino.cpp.d
Debug/SerialCtrl_Arduino.cpp.o
Debug/SerialCtrl_Arduino.eep
Debug/SerialCtrl_Arduino.elf
Debug/SerialCtrl_Arduino.hex
Debug/SerialCtrl_Arduino.ino.bin
Debug/SerialCtrl_Arduino.ino.eep
Debug/SerialCtrl_Arduino.ino.elf
Debug/SerialCtrl_Arduino.ino.hex
Debug/SerialCtrl_Arduino.ino.with_bootloader.hex
Debug/SerialCtrl_Arduino.with_bootloader.hex
Debug/VM_DBG/VM_DBG.cpp.d
Debug/VM_DBG/VM_DBG.cpp.o
Debug/VM_DBG/VM_mem_check_sam.cpp.d
Debug/VM_DBG/VM_mem_check_sam.cpp.o
CppProperties.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
